*
{
	margin:0px;
	padding:0px;
}
.outer
{
	display:inline-block;
	border:1px solid black;
	width:350px;
	height:80px; 
	margin-top:50px;
	margin-left:35%;
	position:relative;
}
.inner
{

	display:inline-block;
	float:right;
	margin-top:16px;
	border:1px solid black;
	width:100px;
	height:50px;
	position:inherit;
}
.header
{
	width:100%;
	height:50px;
}	
.bg
{
	background: url(../pizza.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	min-height:800px;
	width:100%;
	display: inline-block;
	background-attachment: fixed;
	background-position-y: -30%;
}
.blur
{	
	position: absolute;
}
.lg_head
{
	width:100%;
	height:100%;		
	display: inline-block;
}
.head
{
	font-family:"Times New Roman";
	font-size  :40px;
	text-align: center;
	top:0px;
	z-index:1;		
	color:rgba(255,0,0,0.42);
}
.shopping_cart
{
float:right;
margin-right:50px;
border:1px solid black;
width:100px;
height:50px;
padding-top:3	0px;
text-align: center;
}
